body {
    font-family: sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-container {
    width: 500px;
    text-align: center;
}

h1 {
    color: #333;
}

#search-form {
    display: flex;
}

#search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

button {
    width: 20%;
    padding: 10px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#suggestions-box {
    text-align: left;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #eee;
}